@import "tailwindcss";

:root {
  --background: #07050f;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@media (min-width: 768px) {
  body {
    overflow: hidden;
  }
}
